*{
    margin:0;
    padding:0;
}
html{
    font-size:15px;
}
body{
    background-color:hsl(212, 45%, 89%);
    font-size:1rem;
    font-family: 'Outfit', sans-serif;
    font-weight:400;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:90vh;
}
h4{
    font-weight:700;
    font-size:1.1rem;
    margin:0.9em 0;
}
p{
    font-weight:400;
    font-size:0.9rem;
    opacity:0.6;
    margin:0.9em 0;
}

.card{
    max-width:210px;
    width:95%;
    background-color: white;
    border-radius:1em;
    padding:1em;
    text-align: center;
}

.card-head img{
    width:100%;
    object-fit: cover;
    border-radius:0.3em;
}